body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1;
    color:black;
    background-color:white;
    background-image:url('../img/9zFvAu.jpg') ;
    background-repeat: repeat;/* повтор изображения по всем осям страницы*/
    /*background-size: 1000px 1000px;/*размер фона*/
    background-size: cover;
    /*background: red url('../img/9zFvAu.jpg') no-repeat center; можно записать в одну строку*/
    }

.title{
        text-align: center;
        font-weight: normal;
        letter-spacing: 2px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: blueviolet;
    }
     
.justify{
        text-align: justify;
        font-weight: 700;
        font-style: italic;
        text-transform: capitalize;
    }
/*p{
        text-indent: 10px ;  
    }*/
    

    ul{
        list-style-type: square;
        list-style-position: outside;
        font-family: tahoma;
        color: blue;
        font-style: italic;
    }

.olClass{
        list-style-type:decimal-leading-zero;
        list-style-position: inside;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(0, 128, 38);
    }

.table{
        border: 1px solid black; /* Границы тип и цвет */
        width: 100%;  /* Ширина */
        border-collapse: collapse;/* объединение ячеек */
        table-layout: fixed;
            }
.table th{
    text-align: left; /* Положение на странице */
    padding: 5px 10px 5px 10px; /* отступ */
    color: blueviolet;
    border: 1px dotted;
}

.table td{
    border: 1px dashed black;
    padding: 5px 10px;
    padding-top: 10px;
}

.table tfoot td{
    text-align: center;
}

.text-red{
    color: red;
    display: inline-block;/* смена типа эелемента из строчного в блочный */
    /* inline-block гибрид, имеет свойства обоих */
    width: 100px;
    font-weight: 700px;
    font-style: italic;
}

  /*.content{
    /* выравнивает по центру */
     /* width: 200px;
     /* height: 200px;
 }*/
s 


 .page{
     width: 900px;
     margin-left: auto;   /* отступ*/
     margin-right: auto;
 }

 /* Post*/
 .post{
     width: 700px;
     height: 400px;
     padding: 15px 25px;
     margin-left: auto;
     margin-right: auto ;
     background-color:gray;
     background-image: url("../img/1636220.jpg");/* .. для возврата на папку назад*/
     background-repeat: no-repeat;/* что бы изображение не повторялось*/
     background-size: 100% 100%; /* cover полное заполнение*/ 
     background-position: centerx; /*расположение */
 }

 .post-title{
     margin-top: 0px;
     margin-bottom: 20px;
     color: rgb(51, 82, 255);
 }

 .post-text p{
     margin: 0 0 10px 0;
     color: white;
 }
/* gradient*/

.gradient{
    width: 600px;
    height: 300px;
    /*background-image:linear-gradient( 45deg, rgba(73, 73, 236, 0.637)30%, white, black, rgb(70, 70, 255)80%);/* to top, to bottom, 45deg, -45deg направление*/
    background-image:radial-gradient(circle, black, rgb(118, 120, 247));
}